{{ define "main" }}
<div class="path">
    <a href="/">~</a> $ tar -tvf Archive.tar
</div>

{{ $scratch := newScratch }}
{{- range ( where site.RegularPages "Section" "in" (slice "posts" "documents" "notes") ) }}
{{ $scratch.Add "wordcount" .WordCount }}
{{ end }}

<h1>{{ .Title }}</h1>
{{ $scratch.Get "wordcount" | lang.NumFmt 0 }} words (~{{ div ($scratch.Get "wordcount") 12780.0 | lang.NumFmt 1 }} hours<a class="nodec" href="https://scholarwithin.com/average-reading-speed#adult-average-reading-speed">*</a>) across {{ len (where .Site.RegularPages "Section" "!=" "") }} articles
<hr>

{{- range ( where site.RegularPages "Section" "in" (slice "posts" "documents" "notes") ) }}
    <p>
        <a style="text-decoration: none; font-family: 'Fira Code Regular';" href="{{ .Permalink }}">
            -rw-r--r-- 1
            {{ with .Site.Params.footerCopyrightName }}
                {{ index (split . " ") 0 }}
            {{ end }}
            {{ $dateFormat := .Site.Params.dateFormat | default "Jan 02 2006" }}
            {{ .PublishDate.Format $dateFormat }}
            {{ printf "%04d" .WordCount }}&nbsp;&nbsp;&nbsp;
            {{ .Section | title }}/{{ .Title }}
        </a>
    </p>

{{ end }}

{{ end }}