<!DOCTYPE html>
<html>
    {{ if .IsHome }}
        <meta property="og:description" content="{{ .Site.Params.subTagline }}">
    {{ else }}
        <meta property="og:image" content="{{ (.Params.cover.image) }}">
    {{ end }}




    <div class="shadow">
    {{- partial "head.html" . -}}
    {{- partial "header.html" . -}}
    <body>
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
    </body>
    </div>
    {{- partial "footer.html" . -}}
    {{- partial "script.html" . -}}
</html>