{{ define "main" }}
{{ partial "cat.html" . }}
<h1>{{ .Title }}</h1>
    {{- if not (.Param "hideMeta") }}
        {{ partial "metadata.html" . }}
    {{- end }}

    {{- if not (.Param "hideShare") }}
        {{ partial "share.html" . }}
    {{- end }}

    {{- $isHidden := .Params.cover.hidden | default site.Params.cover.hiddenInSingle | default site.Params.cover.hidden }}
    {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
    {{ with .Params.cover.caption }}<center><i style="margin-bottom: 4px; font-size: 14px;">{{ . | markdownify }}</i></center>{{- end }}

    {{- if not (.Param "hideTOC") }}
        {{ partial "toc.html" . }}
    {{- end }}
<hr>
{{ .Content | replaceRE "(<h[1-6]\\sid=\"([^\"]+)\"\\s?>)(.+)(</h[1-6]+>)" "${1}<a class=\"nodec\" href=\"#${2}\">${3}</a>${4}" | safeHTML }}

{{- if not (.Param "hideShare") }}
    {{ partial "share.html" . }}
{{- end }}

{{- if not (.Param "hideFootnote") }}
    {{ partial "footnote.html" . }}
{{- end }}

{{ end }}