<div class="footnote">
    <hr>
    Thank you so much for reading this entry. Note that I am open to questions, comments, and criticism — I learn alongside you. Do you see something that's not quite right or that I could otherwise improve upon? Please, do not hesitate to <a href="mailto:contact@swlacy.com?subject=Blog%20Edit%20Suggestion">suggest an edit</a>.
    <br><br>
    Kind regards,
    <br>
    Sid Lacy
    <br><br>
    <a href="mailto:contact@swlacy.com?subject=Hello!"><i data-feather="mail" height="18px" style="margin-bottom: 2px; margin-right: 4px"></i>Email</a>
    <a href="https://twitter.com/actuallysid"><i data-feather="twitter" height="18px" style="margin-bottom: 2px; margin-right: 4px; margin-left: 8px"></i>Twitter</a>
    <a href="https://www.linkedin.com/in/lacysw/"><i data-feather="linkedin" height="18px" style="margin-bottom: 2px; margin-right: 4px; margin-left: 8px"></i>LinkedIn</a>
    <a href="https://github.com/lacysw"><i data-feather="github" height="18px" style="margin-bottom: 2px; margin-right: 4px; margin-left: 8px"></i>GitHub</a>
</div>