<footer class="footer text-center">
    <span><i>&copy; {{ now.Year }} {{ .Site.Params.footerCopyrightName }}
        <a href="{{ .Site.Params.footerCopyrightLicenseLink }}">{{ .Site.Params.footerCopyrightLicense }}</a>
        {{- if (.Site.Params.footerBuildTime) }} • Last Built {{ now.UTC.Format "2006" }}.{{ now.UTC.Format "01" }}.{{ now.UTC.Format "02" }} UTC {{ end }}
        {{- if (.Site.Params.footerAttributionLink) }} • <a href="{{ .Site.Params.footerAttributionLink }}">Attribution</a> {{ end }}
    </i></span>
</footer>