<header class="header shadow">
    <nav class="nav">
        <div href="/" title="Home" class="headerTitle">
            <a href="/" title="Home" style="all: inherit; cursor: pointer; color: var(--content)">
                <img src="{{ .Site.Params.logo }}" alt="logo" height="24px" style="margin-bottom: 4px; margin-right: 4px;"></img>
                Sid's Blog
            </a>
        </div>

        <!--
        <div title="Light Switch">
            <a href="/posts"><i data-feather="sunrise" style="margin-left: 8px;margin-bottom: 2px;"></i></a>
        </div>
        -->

        <div class="dropdown" style="margin-left: auto;">
            <button class="dropbtn"><a data-feather="menu" style="margin-bottom: 4px;"></a>&nbspMenu</button>
            <div class="dropdown-content">
                <div class="dropdown-content">
                    <a href="/posts"><i data-feather="coffee" height="18px" style="margin-bottom: 2px; margin-right: 4px"></i>Blog</a>
                    <a href="/documents"><i data-feather="book" height="18px" style="margin-bottom: 2px; margin-right: 4px"></i>Docs</a>
                    <a href="/about"><i data-feather="user" height="18px" style="margin-bottom: 2px; margin-right: 4px"></i>About</a>
                    <a href="/resume"><i data-feather="paperclip" height="18px" style="margin-bottom: 2px; margin-right: 4px"></i>Resume</a>
                    <a href="mailto:contact@swlacy.com?subject=Hello!"><i data-feather="mail" height="18px" style="margin-bottom: 2px; margin-right: 4px"></i>Email Me</a>
                    <a href="https://twitter.com/actuallysid"><i data-feather="twitter" height="18px" style="margin-bottom: 2px; margin-right: 4px"></i>Twitter</a>
                    <a href="https://www.linkedin.com/in/lacysw/"><i data-feather="linkedin" height="18px" style="margin-bottom: 2px; margin-right: 4px"></i>LinkedIn</a>
                    <a href="https://github.com/lacysw"><i data-feather="github" height="18px" style="margin-bottom: 2px; margin-right: 4px"></i>GitHub</a>
                    <a href="/links"><i data-feather="link" height="18px" style="margin-bottom: 2px; margin-right: 4px"></i>More</a>
                    <!--
                    <a href="/archive"><i data-feather="archive" height="18px" style="margin-bottom: 2px; margin-right: 4px"></i>Archive</a>
                    <a href="/search"><i data-feather="search" height="18px" style="margin-bottom: 2px; margin-right: 4px"></i>Search</a>
                    -->
                </div>
            </div>
        </div>

    </nav>
</header>