<div id="home-jumbotron" class="jumbotron text-center">
    <h2><b>New Content</b></h2>
    <center>
    <hr style="max-width: 327px; margin-bottom: 22px">

    {{- range ( where site.RegularPages "Section" "in" (slice "posts" "documents") | first 3 ) }}
    <div class="cards">
        <a class="button-inner shadow" style="text-align: left; border: none;" href="{{ .Permalink }}">
            <h3>{{ .Title }}</h3>
            <i class="metad">{{ partial "metadata.html" . }}</i>
            {{- $isHidden := .Params.cover.hidden | default site.Params.cover.hiddenInSingle | default site.Params.cover.hidden }}
            {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
            {{ .Summary }}
        </a>
    </div>
    {{ end }}
    </center>
</div>