:root {
    --theme: #e0e1da;
    --entry: #e0e1da00;
    --primary: #262624;
    --secondary: #262624;
    --tertiary: #cfd0c9c4;
    --content: #262624;
    --hljs-bg: #3b2d29;
    --code-bg: #e0e1da00;
    --border: #3b2d29;
    --headercolor: #e0e1dae0;
    --radius: 4px;
    --main-width: 960px;
    --footer-height: 18px;
    --header-height: 40px;
    --grad: #b48b69;
}

.dark {
    --theme: #161922;
    --entry: #161922;
    --primary: #bbbcd0;
    --secondary: #ced0bb;
    --tertiary: #25283280;
    --content: #bbbcd0;
    --hljs-bg: #262631;
    --code-bg: #16192200;
    --border: #272c3e;
    --headercolor: #161922e0;
    --grad: #000000;
}

path {
    fill: var(--primary);
}

nav.nav {
    z-index: 2 !important;
    position: fixed;
    background: var(--headercolor);
    line-height: 28pt;
    min-width: 100%;
    max-width: 100%;
}

main.main {
    padding-top: 52px;
}

.profile_inner {
    max-width: 380px;
}

.buttons {
    max-width: 330px;
}

.social-icons a svg {
    height: 32px;
    width: 32px;
}

code {
    font-family:'Fira Mono', monospace;
}

.post-content code {
    font-family:'Fira Mono', monospace;
    font-size: 14px;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
    font-weight: 300;
    color: red;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
}

body#top {
    background-image: linear-gradient(var(--theme), var(--grad));
}

html {
    min-height: 100%;
}  

.footer {
    padding-bottom: 6px;
}

.profile img {
    border-radius: 8%;
}