:root {
    --theme: #e0e1da;
    --entry: #e0e1da;
    --primary: #262624;
    --secondary: #262624;
    --tertiary: #bebfb9;
    --content: #262624;
    --hljs-bg: #3b2d29;
    --code-bg: #e0e1da;
    --border: #3b2d29;
    --headercolor: #e0e1dac4;
}

.dark {
    --theme: #161922;
    --entry: #161922;
    --primary: #bbbcd0;
    --secondary: #ced0bb;
    --tertiary: #343742;
    --content: #bbbcd0;
    --hljs-bg: #262631;
    --code-bg: #161922;
    --border: #272c3e;
    --headercolor: #161922c4;
}

.nav {
    z-index: 2 !important;
    position: fixed;
    background: var(--headercolor);
    border-bottom: 1px dotted var(--primary);
    line-height: 28pt;
    min-width: 100%;
    min-width: 100%;
}

.main {
    padding-top: 48pt;
}