<div class="profile">
    {{- with .Site.Params.profileMode }}
    <div class="profile_inner" style="margin-top: 32px">
        {{- if .imageUrl -}}
        <img src="{{ .imageUrl | absURL }}" alt="{{ .imageTitle | default "profile image" }}"
            height="{{ .imageHeight | default 150 }}" width="{{ .imageWidth | default 150 }}" />
        {{- end }}
        <h1>{{ .title | default $.Site.Title | markdownify }}</h1>
        <span>{{ .subtitle | markdownify }}</span>
        {{- partial "social_icons.html" $.Site.Params.socialIcons -}}
        {{- with .buttons }}

        <a href="/links">More Links</a>

        <center><b><i>Featured Articles</i></b></center>
        <div class="buttons" style="border: thin solid var(--primary); justify-content: left; border-radius: var(--radius)">
            {{- range . }}
            <a class="button" href="{{ trim .url " " }}" rel="noopener" title="{{ .name | title }}" style="background: none; padding: 0px">
                <span class="button-inner">➦ {{ .name | title }}</span>
            </a>
            {{- end }}
        </div>

        <br>

        <a class="button" href="/posts" rel="noopener" title="Blog Posts" style="background: none; float: left; margin-left: 33px; padding: 0px">
            <span class="button-inner">➤ Read my blog posts</span>
        </a>
        <a class="button" href="/documents" rel="noopener" title="Documents" style="background: none; float: left; margin-left: 33px; padding: 0px">
            <span class="button-inner">➤ Explore the <i>Documents</i> section</span>
        </a>
        <a class="button" href="/resume.pdf" rel="noopener" title="Resume" style="background: none; float: left; margin-left: 33px; padding: 0px">
            <span class="button-inner">➤ Check out my resume</span>
        </a>
        <a class="button" href="/about" rel="noopener" title="About Me" style="background: none; float: left; margin-left: 33px; padding: 0px">
            <span class="button-inner">➤ About Me</span>
        </a>
        {{- end }}
    </div>
    {{- end}}
</div>
