/* Fonts */

@font-face {
    font-family: 'Ubuntu Regular';
    src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: 'Ubuntu Medium';
    src: url(../fonts/Ubuntu/Ubuntu-Medium.ttf);
}

@font-face {
    font-family: 'Fira Code Regular';
    src: url(../fonts/Fira/FiraCode-Regular.ttf);
}

@font-face {
    font-family: 'Fira Code Bold';
    src: url(../fonts/Fira/FiraCode-Bold.ttf);
}

/* Color schemes */

:root {
    --menuwidth: 112px;
    --radius: 6px;
    
    --background: white;
    --header: #f0f0f0;
    --content: #111111;
    --links: #E95420;
    --inlineCode: #d63384;
}

.dark-mode {
    --background: #1b1b1e;
    --header: #27282b;
    --content: #d8d8d8;
    --links: #8ca88a;
}

/* Main */

html, body {
    height: calc(100vh - 48px);
}

svg {
    color: inherit;
}

a {
    color: inherit;
}

a:hover {
    color: var(--links);
}

code {
    font-family: 'Fira Code Bold';
    color: var(--inlineCode);
}

p code {
    font-family: 'Fira Code Bold';
    color: var(--inlineCode);
}

a code {
    color: var(--inlineCode);
}

ul {
    list-style-type: "» ";
}

::selection {
    background: var(--links);
    color: var(--background)
}

/* Header, nav bar */

.headerTitle {
    margin-right: 4px;
}

.headerTitle {
    text-decoration: none !important;
}

.header {
    z-index: 2;
    position: fixed;
    top: 0px;
    width: 100%;
    max-width: 1024px;
    height: 40px;
    background-color: var(--header) !important;
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}

.nav {
    font-size: 24px;
    font-family: 'Ubuntu Regular';
    margin-left: 12px;
    margin-right: 12px;
}

.logo {
    margin-bottom: 4px;
    margin-right: 4px;
}

.home {
    all: inherit;
    cursor: pointer;
    color: var(--content);
}

.sep {
    color: var(--content);
}

.lightswitch {
    margin-left: 6px;
    cursor: pointer;
}

.lightswitch svg {
    color: var(--content);
}

.dropbtn {
    background-color: var(--header);
    color: var(--content);
    border: none;
    height: 40px;
    width: var(--menuwidth);
}

.dropbtn svg {
    margin-bottom: 4px;
}

.dropdown-content {
    width: var(--menuwidth);
    font-size: 18px;
    display: none;
    position: fixed;
    background-color: var(--header);
    border-radius: var(--radius);
    z-index: 3;
}

.dropdown-items {
    margin-bottom: 2px;
    margin-left: 4px;
    margin-right: 8px
}

.dropdown-content a {
    width: var(--menuwidth);
    color: var(--content);
    padding: 6px 4px;
    text-decoration: none;
    display: block;
    background-color: inherit;
    border-radius: inherit;
}

.dropdown-content a:hover {
    font-size: 18px;
    color: var(--links);
    background-color: inherit;
    border-radius: var(--radius);
    width: var(--menuwidth);
}

.dropdown:hover .dropdown-content {
    width: var(--menuwidth);
    display: block;
    
}

.dropdown {
    margin-left: auto !important;
}

.dropdown:hover .dropbtn {
    color: var(--links)
}

/* Body */

body {
    margin: auto;
    max-width: 1024px;
    background-color: var(--background);
}

.shadow {
    background-color: var(--background);
}

#content {
    margin-top: 48px;
    min-height: calc(100vh - 82px);
    padding: 10px;
    font-family: 'Ubuntu Regular';
    color: var(--content);
}

.meta {
    font-size: 14px;
}

.path {
    font-family: 'Fira Code Bold';
    color: var(--content);
    font-size: 14px;
    margin-bottom: 4px;
}

blockquote {
    margin: 20px 0;
    padding: 0 16px;
    border-inline-start: 3px solid var(--content);
}

pre {
    padding: 12px;
    border-radius: var(--radius);
    background-color: black !important;
    color: white !important;
    font-family: 'Fira Code Regular';
}

p img {
    margin-top: 6px;
    margin-bottom: 6px;
    width: 100%;
}

.medium-zoom-image--opened {
    z-index: 2;
}

.button-inner, div.toc {
    display: grid;
    flex-direction: column;
    border-radius: var(--radius);
    padding: 6px;
    margin: 6px;
    max-width: 340px;
    text-decoration: none;
    border: dotted 1px var(--content);
}

div.toc {
    max-width: 100%;
    border: dotted 1px var(--content);
    margin-top: 12px;
    padding-left:12px;
    padding-right:12px
}

.lst {
    margin-bottom: 26px
}

.fullwidth {
    max-width: 100% !important;
}

.footnote a {
    margin-right: 10px
}

.footnote svg {
    margin-bottom: 2px;
    margin-right: 4px
}

/* Footer */

.footer {
    margin-top: auto;
    font-size: 12px;
    padding: 8px;
    color: var(--content);
    font-size: 12px;
}

/* Front page */

.profile {
    display: flex;
    margin: auto;
    max-width: 504px;
}

.profile img {
    max-width: 284px;
    max-height: 284px;
    border-radius: var(--radius);
    border: solid 1px var(--content);
    box-shadow: 0 1px;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 24px;
}

.front-page-buttons {
    display: inline-block;
    width: 284px;
    height:284px;
    margin: 36px;
    border: none;
}

.front-page-desc {
    text-align: left !important;
}

.nodec {
    text-decoration: none
}

.fpageitems {
    margin-bottom: 4px;
}



#wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
#first, #second {
    min-width:50%;
}

#second {
    padding-top: 10px;
}

.metad {
    padding-bottom: 4px;
}

/* 404 */

.not-found {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    font-size: 160px;
    font-weight: 700;
}

/* FOUC prevention */
html {
    visibility: visible;
    opacity: 1;
}